.container {
  height: 300px;
  width: 100%;
  background-color: lightgray;
}

#display {
  width: 100%;
  font-size: 100px;
  text-align: center;
  margin: 0px auto;
}

.buttons {
  text-align: center;
}
